<div class="row">
    <div class="col-md-8 col-md-offset-2">
 
        <h2>My Orders</h2>
        {{# each orders }}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.price }} VND</span>
                        {{ this.item.title }} | {{ this.qty }} Units
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
        {{/each}}
        <div class="panel-footer">
            <strong>Total Price: {{totalPriceInVND}} VND </strong>
        </div>
    </div>
</div>