<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/fontawesomeAdmin.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/jquery-ui.minAdmin.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/bootstrapAdmin.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/templatemo-styleAdmin.css">
</head>
<body>
        <div class="app">
        {{> headerAdmin}}
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"
            integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
     
            {{{body}}}

   
        {{> footerAdmin}}
    </div>

        <script src="/jquery-3.3.1Admin.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/jquery-ui.minAdmin.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="/bootstrapAdmin.min.js"></script>
</body>
</html>